language: python

os:
    - linux

python:
    - "2.6"
    - "2.7"
    - "3.3"
    - "3.4"
    - "3.5"
    - "3.6"

before_install:
    - pip install setuptools --upgrade

install:
    - python setup.py develop

script:
    - nosetests --with-doctest triangle

notifications:
    email: false
