{%  if include_source %}

.. literalinclude:: {{ link }}.py
    :language: python

{% endif %}

.. figure:: {{ link }}.png
    {% for option in options -%}
        {{ option }}
    {% endfor %}

    [
    {%- if html_show_formats -%}
        :download:`py <{{ link }}.py>`
        {%- for fmt in formats -%}
            , :download:`{{ fmt }} <{{ link }}.{{ fmt }}>`
        {%- endfor -%}
    {%- endif -%}
    ]{{ caption }}

