name: Build Wheels

on: [push, pull_request]

jobs:
  build_wheels:
    name: Build wheel on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: 'recursive'
    - uses: actions/setup-python@v2
      with:
        python-version: '3.10'
    - name: Install cibuildwheel
      run: |
        python -m pip install cibuildwheel
    - name: Build wheel
      run: |
        python -m cibuildwheel --output-dir dist
      env:
        # some builds fail due to numpy issue
        CIBW_SKIP: pp* cp36-* cp39-macosx* cp311-*
        CIBW_TEST_REQUIRES: pytest
        CIBW_TEST_COMMAND: 'pytest {project}/tests'
    - uses: actions/upload-artifact@v1
      with:
        name: wheels
        path: dist/
    - name: Upload To PyPI
      if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags')
      run: |
        python -m pip install twine
        python -m twine check --strict dist/*
        python -m twine upload dist/*
      env:
        TWINE_USERNAME: __token__
        TWINE_PASSWORD: ${{ secrets.pypi_github_triangle }}
